@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

/* Light */
[data-style="candy"],
[data-style="candy"][data-theme="light"] {
  --font-branch: "Fascinate", system-ui;
  --background: hsl(20, 75%, 95%);
  --foreground: hsl(215, 28%, 17%);

  --primary: hsl(335, 73%, 58%);
  --primary-foreground: #ffffff;

  --secondary: 30 10% 50%;
  --secondary-foreground: 0 0% 100%;
  --border: hsla(20, 100%, 12%, .2);

  --border-outline: hsla(20, 100%, 12%, 0.25);


  --ghost-neutral-bg: 0 0% 0%;
  --ghost-neutral-bg-h: hsl(20 75% 90%);

  --ghost-contrast-foreground: hsl(215, 28%, 17%);
  --ghost-contrast-bg: hsl(200 75% 92%);
  --ghost-contrast-bg-h: hsl(200 75% 85%);

  --text-neutral: hsl(0, 0%, 35%);
  --text-neutral-h: hsl(0, 0%, 10%);
  --text-neutral-active: hsl(0, 0%, 5%);
}

/* Dark */
[data-style="candy"][data-theme="dark"] {
  --font-branch: "Fascinate", system-ui;
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: hsl(335, 73%, 58%);
  --primary-foreground: #111111;
  --secondary: #374151;
  --secondary-foreground: #f9fafb;

  --border: hsl(0 0% 30%);

  --border-outline: hsl(0 0% 20%);

  --ghost-neutral-bg: 0 0% 0%;
  --ghost-neutral-bg-h: hsl(0 0% 13%);

  --popover: hsl(0 0% 15%);
  --popover-foreground: hsl(0 0% 90%)
}
