@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

[data-theme="aodesu-light"] {
  --font-branch: "Amatic SC", sans-serif;

  --background: 30 20% 95%;
  --foreground: 0 0% 0%;
  --primary: 30 50% 30%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 10% 50%;
  --secondary-foreground: 0 0% 100%;
  --border: 0 0% 80%;

  --border-outline: 0 0% 80%;
}

[data-theme="aodesu-dark"] {
  --font-branch: "Amatic SC", sans-serif;

  --background: 30 20% 10%;
  --foreground: 0 0% 100%;
  --primary: 30 50% 70%;
  --primary-foreground: 0 0% 0%;
  --secondary: 30 10% 30%;
  --secondary-foreground: 0 0% 100%;
  --border: 0 0% 30%;

  --border-outline: 0 0% 20%;

  --ghost-neutral-bg: 0 0% 0%;
  --ghost-neutral-bg-h: hsl(0 0% 13%);
}