[data-theme="dark-light"] {
  --background: #f3f4f6;
  --foreground: #1f2937;
  --primary: #4b5563;
  --primary-foreground: #ffffff;
  --secondary: #9ca3af;
  --secondary-foreground: #111111;
}

/* Dark */
[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #e5e7eb;
  --primary-foreground: #111111;
  --secondary: #374151;
  --secondary-foreground: #f9fafb;
}
